{% include 'head.html.twig' %}

<div class="w-full bg-green-500" id="container">
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="text-center text-white">
            <h1 class="text-3xl font-bold">Scanner is geactiveerd</h1>

            <p class="mt-10">Je kan dit venster sluiten.</p>

        </div>
    </div>
</div>