<html>
<body>
<div>

    <div style='-webkit-text-size-adjust: none' id=wrapper>

        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
               style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
 0cm 0cm 0cm 0cm'>
            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                    <div id="template_header_image">
                        <p align=center style='margin-top:0cm;text-align:center'>
                            <o:p></o:p>
                        </p>
                    </div>
                    <div align=center>
                        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=600
                               style='width:450.0pt;mso-cellspacing:0cm;background:white;border:solid #DEDEDE 1.0pt;
   mso-border-alt:solid #DEDEDE .75pt;mso-yfti-tbllook:1184;mso-padding-alt:
   0cm 0cm 0cm 0cm;border-radius: 3px;box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1)'
                               id="template_container">
                            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                                <td valign=top style='border:none;padding:0cm 0cm 0cm 0cm'><!-- Header -->
                                    <div align=center>
                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                               width="100%" style='width:100.0%;mso-cellspacing:0cm;background:white;
     mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm;border-radius: 3px 3px 0 0'
                                               id="template_header">
                                            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                                <td style='padding:0cm 75.0pt 0cm 75.0pt' id="header_wrapper">
                                                    <h1 align=center style='margin:0cm;margin-top: 20px;text-align:center;line-height:30.0pt;
      text-shadow:0 1px 0 #ab79a1;background-color:inherit'><span
                                                                style='font-size:19.5pt;font-family:"Helvetica",sans-serif;mso-fareast-font-family:
      "Times New Roman";color:black;font-weight:normal'>Welkom bij NNKS<o:p></o:p></span></h1>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- End Header --></td>
                            </tr>
                            <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
                                <td valign=top style='border:none;padding:0cm 0cm 0cm 0cm'><!-- Body -->
                                    <div align=center>
                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
                                               style='width:450.0pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
     0cm 0cm 0cm 0cm' id="template_body">
                                            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                                <td valign=top style='background:white;padding:36.0pt 0cm 0cm 0cm'
                                                    id="body_content"><!-- Content -->
                                                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                                           width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
       1184;mso-padding-alt:15.0pt 15.0pt 15.0pt 15.0pt'>
                                                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                                            <td valign=top style='padding:36.0pt 36.0pt 24.0pt 36.0pt'>
                                                                <p class=MsoNormal style='font-size:
        10.5pt;font-family:"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";
        color:#636363'>Bevestig
                                                                    je e-mail adres door op onderstaande link te
                                                                    klikken: <br><br>
                                                                    <a href="{{ signedUrl }}">E-mail bevestigen</a>.
                                                                    Deze link verloopt
                                                                    over: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}
                                                                    .</p>
                                                                <div>
                                                                    <p class=MsoNormal style='line-height:18.0pt'><span
                                                                                style='font-size:
        10.5pt;font-family:"Helvetica",sans-serif;mso-fareast-font-family:"Times New Roman";
        color:#636363'>Met vriendelijke groet,<br>
        Het NNKS team! <o:p></o:p></span></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- End Content --></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- End Body --></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
                <td valign=top style='padding:0cm 0cm 0cm 0cm'><!-- Footer -->
                    <div align=center>
                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
                               style='width:450.0pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
   7.5pt 7.5pt 7.5pt 7.5pt' id="template_footer">
                            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                <td valign=top style='padding:0cm 0cm 0cm 0cm;border-radius: 6px'>
                                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                           width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
     1184;mso-padding-alt:7.5pt 7.5pt 7.5pt 7.5pt'>
                                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                            <td style='padding:0cm 0cm 0cm 0cm;border-radius: 6px' id=credit></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <!-- End Footer -->
        </table>

    </div>

    <p class=MsoNormal><span lang=EN-US style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US'><img border=0 width=1 height=1 id="_x0000_i1026"
                              src="http://url8520.elementor.com/wf/open?upn=e7AizLwLKvLoPB0BVptN8ZIpmzYpkkWnK5z6x1ngSbqfTkDvqOobwYmipNIbFOC5Debn-2FImr-2B2D35MK-2Fn6ipC0HRqVBCiELVhfeQ6fl4qDAIR-2BtKxiDCXwtb0jn1t00T4MsspgEXUpPw0GlazLdi5M4Sz6MC1Di-2B7COaEcBolICXvfKTJ10W-2BTtGkR0BvCTXqhpGix1y5EQX9MSYvUGl-2Fz181sxSpP8vP-2B4pB5IdHLahGMK5O5YWgU0F-2BZYk5HAGFUtMR1g7kDKL9-2BPsPN7rGCjCJRjOId971aA4Yymb0XJ0mln-2FuVK4TWJBCQSATANG"
                              style='border-bottom-width:0in;border-left-width:0in;border-right-width:0in;
border-top-width:0in;height:1px;margin-bottom:0in;margin-left:0in;margin-right:
0in;margin-top:0in;padding-bottom:0in;padding-left:0in;padding-right:0in;
padding-top:0in;width:1px'><o:p></o:p></span></p>

</div>

</body>

</html>
