<h2>Welkom bij NNKS</h2><br /><br />
Bevestig je e-mailadres door op onderstaande link te
klikken: <br /><br />

<a href="{{ signedUrl }}">E-mail bevestigen</a><br />Deze link verloopt over: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}<br /><br />
Met Vriendelijke groet,
Team NNKS.
