<form method="post" action="{{ path('dancers_delete', {'id': dancer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dancer.id) }}">
    <button class="btn">Delete</button>
</form>
