{% include 'head.html.twig' %}

<div {{ stimulus_controller("modal-form") }} class="flex h-screen bg-gray-50 dark:bg-gray-900">
    {% include '/frontend/theme/header.html.twig' %}

    <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <div class="my-10 bg-white p-5 rounded-md shadow-md">
                <h3 class="my-2 text-1xl font-semibold text-gray-700 dark:text-gray-200">
                    Betaal status
                </h3>
                {% if payment.status == "completed" %}
                    <div class="mt-2">
                        <p class="text-green-500">Je bestelling is betaald. Het ordernummer is: {{ payment.id }}</p>
                    </div>
                {% elseif payment.status == "error"%}
                    <div class="mt-2">
                        <p class="text-red-500">
                            Fout bij afrekenen, je bestelling is niet betaald.<br />
                            {{ payment.message }}
                        </p>

                    </div>
                {% else %}
                <div class="mt-2">
                    <p class="text-red-500">
                        Fout bij afrekenen, je bestelling is niet betaald.<br />
                    </p>

                </div>
                {% endif %}
            </div>
        </div>

    </main>
</div>
</div>

</body>