<!DOCTYPE html>
<html>
{% include 'head.html.twig' %}
    <body class="bg-gray-50 ">


    {% include '/theme/parts/topbar.html.twig' %}
    <div class="flex overflow-hidden pt-16">
    {% include '/theme/parts/sidebar.html.twig' %}

    <div id="main-content" class="h-full w-full relative overflow-y-auto lg:ml-64">
        <main>
        {% block body %}


        {% endblock %}
        </main>
    </div>
    </div>
    {% if error is defined %}
        {{ include('/theme/_alert.html.twig') }}
    {% endif %}
    {% for message in app.flashes('success') %}
            {{ include('/theme/_alert.html.twig', {message: message}) }}
    {% endfor %}
    {% if error is defined %}
        {{ include('/theme/_alert.html.twig', {type: "error", message: error.message}) }}
    {% endif %}

    </body>
</html>
