<div class="fixed w-full bottom-0 right-0 flex items-end justify-right px-4 py-6 sm:p-6 justify-end z-30 pointer-events-none">
    <div data-controller="alert-message" data-alert-message-show-class="translate-x-0 opacity-100"
         data-alert-message-hide-class="translate-x-full opacity-0" data-alert-message-dismiss-after-value="5000"
         class="max-w-sm w-full shadow-lg px-4 py-3 rounded relative {% if type is not defined or type is null %} bg-green-400 border-green-700 {% else %} bg-red-400 border-red-700 {% endif %} border-l-4 text-white pointer-events-auto transition translate-x-full transform ease-in-out duration-1000 opacity-0">
        <div class="p-2">
            <div class="flex items-start">
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm text-white leading-5 font-medium">
                        {{ message }}
                    </p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                    <button data-action="alert-message#close"
                            class="inline-flex text-white focus:outline-none focus:text-gray-300">
                        <svg class="w-5 h-5 mt-1" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>