{% extends 'base.html.twig' %}

    {% block title %}Contest index{% endblock %}

    {% block body %}
        <div class="p-4 bg-white block sm:flex items-center justify-between ">
            <div class="mb-1 w-full">
                <div class="mb-4">
                    <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">{{ title }}</h1>
                </div>
            </div>
        </div>
        <div class="bg-white">
                        <p class="text-center mb-10 pb-10 text-xl">
                            {{ message }}</p>

        </div>

    {% endblock %}