<div {{ attributes }} class="grid grid-cols-2 gap-2 mb-4">
    <div><h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Totaal prijs</h2></div>
    <div><h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">€ 10,00</h2></div>
</div>